---
import HonorsSection from "../components/sections/HonorsSection.astro";
import OlympiadTeachingSection from "../components/sections/OlympiadTeachingSection.astro";
import TASection from "../components/sections/TASection.astro";
import WorkSection from "../components/sections/WorkSection.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";
---
<MainGridLayout title={i18n(I18nKey.experience)} description={i18n(I18nKey.experience)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <HonorsSection />
            <WorkSection />
            <OlympiadTeachingSection />
            <TASection />
        </div>
    </div>
</MainGridLayout>